.logoutBtn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.logoutBtn:hover {
  color: #096ffa;
}

/* .logoutBtn:hover {
  background-color: #096ffa;
  color: white;
} */
